*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 100%;
}

body {
  background-color:#fafafa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header{
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 2rem;
  box-shadow: 0 2px 6px(0 0 0 / 0.05);
  position: sticky;
}

h1{
  font-size: 3em;
  color: rgb(202, 35, 35);
}

nav{
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: center;
}

nav button{
  font-size: 1.2em;
  padding: 0.7em 1em;
  border-radius: 10%;
  border: none;
  background-color:rgb(202, 35, 35);
  color: #fff;
  text-align: center;
  cursor: pointer;
}

nav button:hover{
  cursor: pointer;
  text-decoration: underline;
  background-color:rgb(186, 35, 35);
}

#content{
  flex: 1;
}

footer{
  background-color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  box-shadow: 0 2px 6px(0 0 0 / 0.05);
}

footer a{
  text-decoration: none;
  color: rgb(202, 35, 35);
}

/*HOME PAGE*/

.home-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  padding: 2.5em;
}

.home-section h2{
  font-size: 3em;
  margin-bottom: 0.7em;
}

.home-section p{
  font-size: 1.5em;
  color: rgb(146, 146, 146)
}

/*MENU PAGE*/

.menu{
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2.5em;
  width: 100%;
  margin: 0 auto;
}

.menu h2{
  font-size: 2.3em;
  text-align: center;
  color: rgb(202, 35, 35);
  border-bottom: 2px solid #eee;
  padding-bottom: 0.5em;
  width: 100%;
}

.menu-category{
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 1.5em;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.menu-category h3{
  font-size: 1.7em;
  color: rgb(202, 35, 35);
}

.menu-item{
  border: 1px solid #ddd;
  padding: 1em;
  border-radius: 10px;
  background-color: #fdfdfd;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  transition: transform 0.2s ease;
}

.menu-item:hover{
  transform: translateY(-5px);
  cursor: pointer;
}

.menu-item h4{
  font-size: 1.3em;
  margin-bottom: 0.4em;
}

.menu-item p{
  color: #555;
  margin-bottom: 0.5em;
}

.menu-item .price{
  font-weight: bold;
  color: rgb(202, 35, 35);
}

/*CONTACT PAGE*/

.contacts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  padding: 2.5em;
}

.contacts h2{
  font-size: 2.3em;
  margin-bottom: 0.7em;
  color: rgb(202, 35, 35);
}

.categories{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5em;
  margin-bottom: 3em;
}

.contact-category{
  display: flex;
  flex-direction: column;
  gap: 1.3em;
  align-items: center;
}

.contact-category h3{
  color: rgb(201, 102, 102);
  font-size: 1.5em;
}

.social-links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-links li img {
  transition: transform 0.3s ease;
}

.social-links li img:hover{
  cursor: pointer;
  transform: scale(1.3);
}